*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }
    body{
        background-color: rgb(221, 225, 231);
    }
    #menuBar{
        display: flex;
        padding: 16px;
        margin-bottom: 24px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(193, 113, 9);
    }
    #searchBar{
        width: max-content;
        height: 24px;
        padding: 4px;
        display: flex;
        align-items: center;
        background-color: rgb(221, 225, 231);
        border-radius: 8px;
        input{
            background: transparent;
            border:none;
            outline: none;
        }
    }
    #menuRight{
        display: flex;
        column-gap: 16px;
        align-items: center;
        justify-content: flex-start;
    }
    #menuLeft{
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
    #loginText{
        text-align: center;
        margin: 16px;
    }
    #loginBox{
        display: flex;
        flex-direction: column;
        margin-right: 35%;
        margin-left: 35%;
        align-items: center;
        width: 30%;
        height: 360px;
        border-radius: 8px;
        background-color: rgb(193, 113, 9);
        label{
            margin-top: 32px;
            margin-bottom: 8px;
        }
        p{
            margin: 16px;
            font-size: 12px;
            color: rgb(221, 225, 231);
        }
    }
    .loginInput{
        width: 75%;
        height: 24px;
        margin: 16px;
        margin-top: 4px;
        padding: 4px;
        display: flex;
        align-items: center;
        background-color: rgb(221, 225, 231);
        border-radius: 8px;
        border:none;
        outline: none;
    }
    .icon{
        padding: 4px;
        height: 32px;
    }
    .button {
        background-color: black;
        border: none;
        color: rgb(221, 225, 231);
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        width: 80px;
        margin: 4px 4px;
      }
