*{
margin: 0;
font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(221, 225, 231);
}
#menuBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(193, 113, 9);
}
#searchBar{
    width: max-content;
    height: 24px;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(221, 225, 231);
    border-radius: 28px;
    input{
        background: transparent;
        border:none;
    }
}
#menuButtons{
    display: flex;
    justify-content: flex-end;
}
#topText{
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
}
#topSellers{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

}
.icon{
    padding: 4px;
    height: 32px;
}
.button {
    background-color: black;
    border: none;
    color: rgb(221, 225, 231);
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 80px;
    margin: 4px 4px;
  }
.product{
    display: block;
    align-items: center;
    text-align: center;
    margin: 8px;
    height:160px;
    width:160px;
    border-radius: 16px;
    background-color: rgb(193, 113, 9);
    img{
        position: relative;
        margin-top: 10%;
        margin-bottom: 1%;
        border-radius: 10%;
        height:50%;
        width:50%;

    }
}