*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }
    body{
        background-color: rgb(221, 225, 231);
    }
    #menuBar{
        display: flex;
        padding: 16px;
        margin-bottom: 24px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(193, 113, 9);
    }
    #searchBar{
        width: max-content;
        height: 24px;
        padding: 4px;
        display: flex;
        align-items: center;
        background-color: rgb(221, 225, 231);
        border-radius: 8px;
        input{
            background: transparent;
            border:none;
            outline: none;
        }
    }
    #menuRight{
        display: flex;
        column-gap: 16px;
        align-items: center;
        justify-content: flex-start;
    }
    #menuLeft{
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
    #compra{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    hr{
        border: 1px solid rgb(101, 104, 108);
    }
    #cartlist{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        .produto{
            display: flex;
            width: 100%;
            margin:4px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .prodLeft{
                column-gap: 6px;
                display: flex;
                flex-direction: row;
                img{
                    height: 32px;
                }
                .details{
                    .title{
                        font-size: 16px;
                    }
                    .artYear{
                        font-size: 12px;
                    }
                }
            }
            .prodRight{
                display: flex;
                flex-direction: row;
                column-gap: 6px;
                align-items: center;
                img{
                    height: 16px;
                }
            }
            
        }
    }
    .prDisplay{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        align-items: center;
        p{
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 2%;
        }
    }
    .icon{
        padding: 4px;
        height: 32px;
    }
    .button {
        background-color: black;
        border: none;
        color: rgb(221, 225, 231);
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        width: 80px;
        margin: 4px 4px;
      }
