.product-card {
    background-color: #C0710A;
    display: flex;
    flex-direction: column;
    /*justify-content: space-arou;*/
    max-width: 300px;
    align-items: center;
    padding: 40px;
    flex: 1 1 0;
    border-radius: 10px;
    height: 400px;
}

.product-card > img {
    flex: 1 1 auto;
    /*object-fit: contain;*/
    max-width: 250px;
    border-radius: 10px;
    max-height: 200px;
}

.product-card > p {
    max-width: calc(100% - 80px);
    text-align: center;
}

.product-card > p:nth-child(2) {
    font-size: 25px;
}